<div class="row">
  <div class="input-field col m10">
      <select name="ingredient" [(ngModel)]="ingredient.name" materialize="material_select">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let ing of ingredients" [ngValue]="ing">{{ing.name}}</option>
      </select>
  </div>
  <div class="col m2">
      <a href="#!" class="secondary-content"><i class="material-icons">close</i></a>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.dropdown-trigger').dropdown();
        $('.modal').modal();
      });
</script>