<div class="col s12 m6">
  <div class="card grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">
          <input type="text" name="namePotion" [(ngModel)]="potion.name">
      </span>
      <b>{{ potion.name }}</b>
      <p>{{ potion.effect }}</p>
      <p *ngIf="potion.potionIngredient.length > 0">Number of ingredients: {{potion.potionIngredient.length}}</p>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn modal-trigger" href="#potion-detail-modal"  (click)="showDetail()">Details</a>
        <a class="waves-effect waves-light btn" (click)="save()">Sauvegarder</a>
    </div>
  </div>
</div>